body {
  font-family: 'Spectral';
  font-size: 19px;
  background-color: #fcec9d;
}

#birds img {
  height: 250px;
  width: 300px;
  position: relative;
  border-style: solid;
  border-color: black;
  margin: -5px;
}

h1 {
  text-align: center;
}

p {
  display: none;
}

#revealed:hover {
  background-color: #52013b;
  border-width: medium;
  color: #ffb700;
}

#revealed {
  height: 100px;
  width: 200px;
  font-size: 20px;
}

#more:hover {
  color: #87f1ff;
  background-color: #120182;

}

#Extra img {
  height: 200px;
  width: 220px;
  position: relative;
}

#Info img {
  height: 200px;
  width: 250px;
  position: relative;
}

#W-B img {
  width: 150px;
  height: 200px;
}

#Note {
  border-style: solid;
  border-top-color: #0b0a1c;
  border-left-color: #5a8da3;
  border-right-color: #686869;
  border-bottom-color: #02008a;
  border-width: medium;
  margin: 50px;
  background-color: #3f0063;
  color: #beeef7;
}
